body {
    padding: 5px;
    font-family: Ubuntu;
}

.wave {
    -webkit-transition: background-color 1000ms linear;
    -moz-transition: background-color 1000ms linear;
    -o-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.backtrace {
    background-color: yellow !important;

    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.square {
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
}

.start {
    background-color: #0d0;
}

.start, .finish {
    animation: fadein 1.2s;
    -moz-animation: fadein 1.2s;
    -webkit-animation: fadein 1.2s;
    -o-animation: fadein 1.2s;
}

@keyframes fadein {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0.2; }
    to { opacity: 1; }
}

.finish {
    background-color: #e40;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

table td {
    text-align: center;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

table tr {
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.wall {
    background-color: #808080;
}

button {
    margin-right: 5px;
}
